{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 80,
	"singleAttributePerLine": true,
	"bracketSameLine": false,
	"svelteBracketNewLine": true,
	"tabWidth": 2
}
