.console {
	/*
		Pixelated border radius
		Reference: https://codepen.io/fallwestmike/pen/ezOGJK
  */
	--outer-border-color: rgba(var(--color-tertiary-900) / 1);
	--inner-border-color: rgba(var(--color-tertiary-700) / 1);
	--pixel-size: 0.25rem;
	--shadow: -3px 3px 0 #00000080;

	box-shadow:
		/* Inner border layer */
		calc(var(--pixel-size) * -2) 0 0 0 var(--inner-border-color),
		calc(var(--pixel-size) * 2) 0 0 0 var(--inner-border-color),
		0 calc(var(--pixel-size) * -1) 0 var(--pixel-size) var(--inner-border-color),
		0 var(--pixel-size) 0 var(--pixel-size) var(--inner-border-color),
		0 calc(var(--pixel-size) * -4) 0 0 var(--inner-border-color),
		0 calc(var(--pixel-size) * 4) 0 0 var(--inner-border-color),
		0 calc(var(--pixel-size) * -6) 0 calc(var(--pixel-size) * -1) var(--inner-border-color),
		0 calc(var(--pixel-size) * 6) 0 calc(var(--pixel-size) * -1) var(--inner-border-color),
		0 calc(var(--pixel-size) * -8) 0 calc(var(--pixel-size) * -2) var(--inner-border-color),
		0 calc(var(--pixel-size) * 8) 0 calc(var(--pixel-size) * -2) var(--inner-border-color),
		0 calc(var(--pixel-size) * -11) 0 calc(var(--pixel-size) * -4) var(--inner-border-color),
		0 calc(var(--pixel-size) * 11) 0 calc(var(--pixel-size) * -4) var(--inner-border-color),
		0 calc(var(--pixel-size) * -14) 0 calc(var(--pixel-size) * -6) var(--inner-border-color),
		0 calc(var(--pixel-size) * 14) 0 calc(var(--pixel-size) * -6) var(--inner-border-color),
		/* Outer border layer */
		calc(var(--pixel-size) * -3) 0 0 0 var(--outer-border-color),
		calc(var(--pixel-size) * 3) 0 0 0 var(--outer-border-color),
		0 0 0 calc(var(--pixel-size) * 2) var(--outer-border-color),
		0 calc(var(--pixel-size) * -3) 0 var(--pixel-size) var(--outer-border-color),
		0 calc(var(--pixel-size) * 3) 0 var(--pixel-size) var(--outer-border-color),
		0 calc(var(--pixel-size) * -5) 0 0 var(--outer-border-color),
		0 calc(var(--pixel-size) * 5) 0 0 var(--outer-border-color),
		0 calc(var(--pixel-size) * -7) 0 calc(var(--pixel-size) * -1) var(--outer-border-color),
		0 calc(var(--pixel-size) * 7) 0 calc(var(--pixel-size) * -1) var(--outer-border-color),
		0 calc(var(--pixel-size) * -9) 0 calc(var(--pixel-size) * -2) var(--outer-border-color),
		0 calc(var(--pixel-size) * 9) 0 calc(var(--pixel-size) * -2) var(--outer-border-color),
		0 calc(var(--pixel-size) * -12) 0 calc(var(--pixel-size) * -4) var(--outer-border-color),
		0 calc(var(--pixel-size) * 12) 0 calc(var(--pixel-size) * -4) var(--outer-border-color),
		0 calc(var(--pixel-size) * -15) 0 calc(var(--pixel-size) * -6) var(--outer-border-color),
		0 calc(var(--pixel-size) * 15) 0 calc(var(--pixel-size) * -6) var(--outer-border-color),
		/* Inset shadow */
		var(--shadow) inset;
}

.drop-shadow {
	filter: drop-shadow(var(--shadow))
}
