@import 'tailwindcss';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/modern";
@import '@skeletonlabs/skeleton-svelte';

@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton/dist/**/*.{html,js,svelte,ts}';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

}

@theme {
	--font-pixel: "VT323", "sans-serif";
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/VT323-Regular.ttf');
}

:root {
	--typo-base--font-size: 20px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	color-scheme: light dark;
	scrollbar-color: var(--color-tertiary-300-700) var(--color-tertiary-100-900);
	line-height: 1.25;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: inherit;
	--typo-anchor--hover--text-decoration-thickness: inherit;
	--typo-anchor--hover--text-underline-offset: inherit;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--default-outline-width: 1px;
	--corner-shape-base: initial;
	--corner-shape-container: initial;
	--color-brand-light: var(--color-primary-500);
	--color-brand-contrast-light: var(--color-primary-contrast-500);
	--color-brand-dark: var(--color-primary-500);
	--color-brand-contrast-dark: var(--color-primary-contrast-500);
}

body,
html {
	background-image: none !important;
	background: none !important;
	background-color: initial !important;
}
